# Add tests for these:
# [x] cmd
# [x] args
# [x] numprocs
# [x] umask
# [x] workingdir
# [x] autostart
# [x] autorestart
# [x] exitcodes
# [x] autorestarttries
# [x] autostarttime
# [x] starttime
# [x] stopsignal
# [x] stoptime
# [x] stdout
# [x] stderr
# [x] env

tasks:
  non_zero_exit_code:
    cmd: "./tests/non_zero_exit_code"
    exitcodes: [10]
  print_env:
    cmd: "./tests/print_env"
    env:
      NAME: "Hello"
      VALUE: 1
      OCCUPATION: unemployed
      VARIABLE: $PATH
      NEWLINES: "some\nnewlines"
  print_args:
    cmd: "./tests/print_args"
    args: [a, b, abc def, 110]
  autorestart:
    cmd: "./tests/print_args"
    args: ["should be printed 3 times"]
    autorestart: always
    autorestarttries: 2
  working_dir:
    cmd: "../tests/working_dir"
    workingdir: "./config"
  infinite:
    cmd: "./tests/infinite"
    numprocs: 4
  long_shutdown:
    cmd: "./tests/long_shutdown"
    stopsignal: USR1
    stoptime: 20
    numprocs: 3
  quickstop:
    cmd: "./tests/long_shutdown"
    stopsignal: USR1
    stoptime: 1
    numprocs: 3
  umask_test:
    cmd: "./tests/umask_test"
    umask: 0777
  umask_test2:
    cmd: "./tests/umask_test"
    umask: 0444
  autostart:
    cmd: "./tests/print_env"
    env:
      HELLO: "World"
    autostart: true
  autostartafter10:
    cmd: "./tests/print_env"
    env:
      HELLO: "World"
    autostart: true
    autostarttime: 10
  stdin:
    cmd: "./tests/stdin"
    numprocs: 1
  print_env_stdout:
    cmd: "./tests/print_env"
    env:
      NAME: "Hello"
      VALUE: 1
      OCCUPATION: unemployed
      VARIABLE: $PATH
      NEWLINES: "some\nnewlines"
    stdout: log.stdout
    stderr: log.stderr
  print_stderr:
    cmd: "./tests/print_stderr"
    stdout: log.stdout
    stderr: log.stderr
  bad:
    cmd: "./not/a/valid/command"
