# Add tests for these:
# [ ] cmd
# [ ] args
# [ ] numprocs
# [ ] umask
# [ ] workingdir
# [ ] autostart
# [ ] autorestart
# [ ] exitcodes
# [ ] autorestarttries
# [ ] autostarttime
# [ ] starttime
# [ ] stopsignal
# [ ] stoptime
# [ ] stdout
# [ ] stderr
# [ ] env

programs:
  non_zero_exit_code:
    cmd: "./tests/non_zero_exit_code"
    exitcodes: [10]
  print_env:
    cmd: "./tests/print_env"
    env:
      NAME: "Hello"
      VALUE: 1
      OCCUPATION: unemployed
      VARIABLE: $PATH
      NEWLINES: "some\nnewlines"
    autorestart: always
  working_dir:
    cmd: "../tests/working_dir"
    workingdir: "./config"
  infinite:
    cmd: "./tests/infinite"
    numprocs: 4
  long_shutdown:
    cmd: "./tests/long_shutdown"
    stopsignal: USR1
    stoptime: 20
    numprocs: 3
  umask_test:
    cmd: "./tests/umask_test"
    umask: 0777
  umask_test2:
    cmd: "./tests/umask_test"
    umask: 0444
  autostart:
    cmd: "./tests/print_env"
    env:
      HELLO: "World"
    autostart: true
  autostartafter10:
    cmd: "./tests/print_env"
    env:
      HELLO: "World"
    autostart: true
    autostarttime: 10
  stdin:
    cmd: "./tests/stdin"
    numprocs: 1
  bad:
    cmd: "./not/a/valid/command"
