programs:
  non_zero_exit_code:
    cmd: "./tests/non_zero_exit_code"
    exitcodes: [10]
  print_env:
    cmd: "./tests/print_env"
    env:
      NAME: "Hello"
      VALUE: 1
      OCCUPATION: unemployed
      VARIABLE: $PATH
      NEWLINES: "some\nnewlines"
  working_dir:
    cmd: "../tests/working_dir"
    workingdir: "./config"
  infinite:
    cmd: "./tests/infinite"
    numprocs: 5
  long_shutdown:
    cmd: "./tests/long_shutdown"
    stopsignal: USR1
    stoptime: 1
