programs:
  non_zero_exit_code:
    cmd: "./tests/non_zero_exit_code"
    exitcodes: [10]
  print_env:
    cmd: "./tests/print_env"
    env:
      NAME: "Hello"
      VALUE: 1
      OCCUPATION: unemployed
